checks:shellcheck:
  stage: checks
  tags:
    - docker
  script:
    - shellcheck -x -e SC1117 $(grep -l '^#!/bin/\(ba\)\?sh' $(sudo git ls-files))

checks:pylint:
  stage: checks
  tags:
    - docker
  before_script:
    - sudo dnf install -y python3-gobject gtk3 python3-pylint
  script:
    - pylint-3 $(find sender receiver scripts -type f -name '*.py')

include:
- file: /r4.2/gitlab-base.yml
  project: QubesOS/qubes-continuous-integration
- file: /r4.2/gitlab-host.yml
  project: QubesOS/qubes-continuous-integration
- file: /r4.2/gitlab-vm.yml
  project: QubesOS/qubes-continuous-integration
- file: /r4.3/gitlab-base.yml
  project: QubesOS/qubes-continuous-integration
- file: /r4.3/gitlab-host.yml
  project: QubesOS/qubes-continuous-integration
- file: /r4.3/gitlab-vm.yml
  project: QubesOS/qubes-continuous-integration
